body {

}
.container {
     
    width: 100%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/1398603/pexels-photo-1398603.jpeg?cs=srgb&dl=pexels-sir-akc-1398603.jpg&fm=jpg); 

}

header {
   color: salmon
}

img{
    float:left;
    width:400px; 
    height:auto; 
    margin-right: 30px; 
    padding: 10px;
    background: salmon;
}

.box{
    text-align:left ;
    float: left;
    width: 600px;
    height: auto;
    margin-top:30px; 
}